.page-container {
    font-family: sans-serif;
    background-color: #E5E5E5;
}

/* LANE */
.lane-list {
    white-space: nowrap;
}

.lane {
    display: inline-block;
    width: 18rem;
    margin: 0.5rem;
    vertical-align: top;
    background-color: #FCFCFC;
}

.lane + .lane {
    margin-left: 0;
}

.lane__header {
    position: relative;
    padding: 0.5rem;
    color: #424242;
}

.lane-header__name {
    padding-right: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.lane-header__name__text{
    display:inline-block;
    max-width: 100%;
    height: 22px;
    line-height: 22px;
    border: 1px solid transparent;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    cursor: default;
}

.lane-header__name--edit{
   width: 100%;
   height: 24px;
   line-height: 1;
   outline: none;
   border: 1px solid transparent;
   border-bottom: 1px solid #424242;
}

.lane__body {
    overflow-y: auto;
    overflow-x: none;
    padding: 0.5rem 0.3rem 0.5rem 0;
}

.lane__footer {
    background-color: #F5F5F5;
    border-top: 1px solid #DDDDDD;
    padding: 0.5rem;
}

.lane__footer:after {
    clear: both;
    display: block;
    content: '';
}

.lane-button__btn-delete {
    float: right;
}

.lane-button__btn-add {
    position: absolute;
    right: 10px;
}

@media screen and (max-width: 320px) {
    .lane {
        display: block;
        width: 100%;
        margin: 10px auto;
    }
}


/* NOTE */

.note-list {
    margin: 0;
    padding: 0;
    padding-left: 0.5rem;
    padding-right: 0.6rem;
    list-style: none;
}

.note {
    position: relative;
    margin: 0.25rem 0px;
    padding: 0.5rem;
    border: 1px solid #D0D0D0;
    background: #FFFFFF;
    color: #333333;
}

.none:first-child{
    margin-top: 0;
}

.none:last-child{
    margin-bottom: 0;
}

.note:hover {
    box-shadow: 0 0 0.3rem 0.03rem rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.note--edit {
    width: 100%; 
    padding: 0;
    border: none;
    outline: none;
    resize: none;
    overflow:hidden;
    line-height: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #333333;
}

.note--edit:hover {
    border: none;
    outline: none;
}

.note__text {
    width: 100%;
    margin: 0;
    display: block;
    min-height: 20px;
    line-height: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 0;
    cursor: default;
}

.note .delete {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 5px;
    border: none;
    cursor: pointer;
    visibility: hidden;
    background: none;
    font-size: 14px;
    font-weight: 100;
}

.note:hover .delete {
    visibility: visible;
}

.button {
    color: #D5D5D5;
}


/* MENU */
.menu {
    background: #0B2027;
}

.menu__row {
    margin: 0 2.5rem;
}

.menu__list {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: bottom;
    font-size: 1.0rem;
}

.menu__col {
    float: left;
}

.menu__link {
    display: block;
    padding: 0.8rem 1.0rem;
    color: white;
    font-weight: 500;
    text-decoration: none;
    transition: .3s;
}

.menu__link:hover {
    background: #16414f;
    cursor: default;
}